# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv310/

# Python Cache
__pycache__/
*.py[cod]

# Logs and Databases
*.log
*.sqlite
*.db
*.sql
*.sqlite3

# VSCode
.vscode/
*.code-workspace

# Local Development Files
local_server.py
local_config.py
test_twitteragent_api.py
